extends ../layout

block content
  h1 Liste des tâches

  input(placeholder="Nouvelle tâche" autofocus)
  button Go!

  ul.todos
    each todo in todos
      li(class=todo.done?'done':'')= todo.txt
      button(data-id=todo.id ) ✖︎
      input(type="text" value=todo.txt data-id=todo.id data-done=String(todo.done))

block javascript
  script(src="/static/js/todos.js")
